body {
    font-family: Arial, sans-serif;
    background: #a07c04;
    color: white;
    margin: 0;
    padding: 20px;
}

.gallery {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    
    background: #c01414;
    border: 2px solid #333;
    height: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.card:hover {
    background: #272727;
    transform: scale(1.03);
}

/* Şəkil görünəndə */
.card.open {
    padding: 0;
}

.card.open img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
